[Unit]
Description=Regularly update Edo repository and systemd units

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
